<a href="https://colab.research.google.com/github/byunsungil/AI01/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
인공지능_0 문제

In [ ]:
name = "변성일"
age = 25
print("저의 이름은 {}이고, 나이는 {}살 입니다.".format(name,age))

저의 이름은 변성일이고, 나이는 25살 입니다.

In [2]:
name = input()
age =  int(input())
print(("이름 : {}, 나이 :{}").format(name,age))

변성일
25
이름 : 변성일, 나이 :25

응용1

In [14]:
cname = input()
name = input()
age - int(input())
hight= int(input())
print(("저는 {}학과이고, 이름은 {}, 나이는 {},키는 {} 입니다.").format(cname,name,age,hight))

소프트웨어
변성일
25
5674654
저는 소프트웨어학과이고, 이름은 변성일, 나이는 25,키는 5674654 입니다.

In [ ]:
exam = [60,80,95,69,90,81,80,69,79,66,70,90,96]
grade = []

for score in exam:
    if score >= 90:
        grade.append('A')
    elif score >= 80:
        grade.append('B')
    elif score >= 70:
        grade.append('C')
    elif score >= 60:
        grade.append('D')
    else:
        grade.append('F')

print(grade)

['D', 'B', 'A', 'D', 'A', 'B', 'B', 'D', 'C', 'D', 'C', 'A', 'A']

In [9]:
exam = [60,80,95,69,90,81,80,69,79,66,70,90,96]
for i in exam:
  if i >= 90:
    print("A")
  elif i >=80 and i<90:
    print("B")
  elif i >=70 and i <80:
    print("C")
  elif i>=60 and i<70:
    print("D")
  else:
    print("F")

D
B
A
D
A
B
B
D
C
D
C
A
A

응용2

In [21]:
grades=[85, 90, 92, 78, 80, 95]
a = sum(grades)/6
if a > 85:
  print("시험에 합격했습니다.")
else:
  print("")

시험에 합격했습니다.

In [23]:
grades=[85, 90, 92, 78, 80, 95]
sum = 0
count = 0

for grade in grades:
    sum = sum + grade
    count = count + 1

average = sum / count

if average > 85:
    print("축하합니다. 시험에 합격했습니다.")

축하합니다. 시험에 합격했습니다.

In [ ]:
total = 0
for i in range(1, 11):
    total += i
    print(f"i의 값: {i}, 합계: {total}")

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15
i의 값: 6, 합계: 21
i의 값: 7, 합계: 28
i의 값: 8, 합계: 36
i의 값: 9, 합계: 45
i의 값: 10, 합계: 55

In [ ]:
for i in range(1, 10):
    print(f"-----------{i}단------------")
    for j in range(1, 10):
        print(f"구구단 : {i} x {j} = {i*j} 입니다.")
    print()

-----------1단------------
구구단 : 1 x 1 = 1 입니다.
구구단 : 1 x 2 = 2 입니다.
구구단 : 1 x 3 = 3 입니다.
구구단 : 1 x 4 = 4 입니다.
구구단 : 1 x 5 = 5 입니다.
구구단 : 1 x 6 = 6 입니다.
구구단 : 1 x 7 = 7 입니다.
구구단 : 1 x 8 = 8 입니다.
구구단 : 1 x 9 = 9 입니다.

-----------2단------------
구구단 : 2 x 1 = 2 입니다.
구구단 : 2 x 2 = 4 입니다.
구구단 : 2 x 3 = 6 입니다.
구구단 : 2 x 4 = 8 입니다.
구구단 : 2 x 5 = 10 입니다.
구구단 : 2 x 6 = 12 입니다.
구구단 : 2 x 7 = 14 입니다.
구구단 : 2 x 8 = 16 입니다.
구구단 : 2 x 9 = 18 입니다.

-----------3단------------
구구단 : 3 x 1 = 3 입니다.
구구단 : 3 x 2 = 6 입니다.
구구단 : 3 x 3 = 9 입니다.
구구단 : 3 x 4 = 12 입니다.
구구단 : 3 x 5 = 15 입니다.
구구단 : 3 x 6 = 18 입니다.
구구단 : 3 x 7 = 21 입니다.
구구단 : 3 x 8 = 24 입니다.
구구단 : 3 x 9 = 27 입니다.

-----------4단------------
구구단 : 4 x 1 = 4 입니다.
구구단 : 4 x 2 = 8 입니다.
구구단 : 4 x 3 = 12 입니다.
구구단 : 4 x 4 = 16 입니다.
구구단 : 4 x 5 = 20 입니다.
구구단 : 4 x 6 = 24 입니다.
구구단 : 4 x 7 = 28 입니다.
구구단 : 4 x 8 = 32 입니다.
구구단 : 4 x 9 = 36 입니다.

-----------5단------------
구구단 : 5 x 1 = 5 입니다.
구구단 : 5 x 2 = 10 입니다.
구구단 : 5 x 3 = 15 입니다.
구구단 : 5 x 4 = 20 입니다.
구구단 : 5 x 5 = 25 입니다.
구구단 : 5 x 6 = 30 입니다.
구구단 : 5 x 7 = 35 입니다.
구구단 : 5 x 8 = 40 입니다.
구구단 : 5 x 9 = 45 입니다.

-----------6단------------
구구단 : 6 x 1 = 6 입니다.
구구단 : 6 x 2 = 12 입니다.
구구단 : 6 x 3 = 18 입니다.
구구단 : 6 x 4 = 24 입니다.
구구단 : 6 x 5 = 30 입니다.
구구단 : 6 x 6 = 36 입니다.
구구단 : 6 x 7 = 42 입니다.
구구단 : 6 x 8 = 48 입니다.
구구단 : 6 x 9 = 54 입니다.

-----------7단------------
구구단 : 7 x 1 = 7 입니다.
구구단 : 7 x 2 = 14 입니다.
구구단 : 7 x 3 = 21 입니다.
구구단 : 7 x 4 = 28 입니다.
구구단 : 7 x 5 = 35 입니다.
구구단 : 7 x 6 = 42 입니다.
구구단 : 7 x 7 = 49 입니다.
구구단 : 7 x 8 = 56 입니다.
구구단 : 7 x 9 = 63 입니다.

-----------8단------------
구구단 : 8 x 1 = 8 입니다.
구구단 : 8 x 2 = 16 입니다.
구구단 : 8 x 3 = 24 입니다.
구구단 : 8 x 4 = 32 입니다.
구구단 : 8 x 5 = 40 입니다.
구구단 : 8 x 6 = 48 입니다.
구구단 : 8 x 7 = 56 입니다.
구구단 : 8 x 8 = 64 입니다.
구구단 : 8 x 9 = 72 입니다.

-----------9단------------
구구단 : 9 x 1 = 9 입니다.
구구단 : 9 x 2 = 18 입니다.
구구단 : 9 x 3 = 27 입니다.
구구단 : 9 x 4 = 36 입니다.
구구단 : 9 x 5 = 45 입니다.
구구단 : 9 x 6 = 54 입니다.
구구단 : 9 x 7 = 63 입니다.
구구단 : 9 x 8 = 72 입니다.
구구단 : 9 x 9 = 81 입니다.

In [6]:
for i in range(1,10):
  print(("-------{}단--------").format(i))
  for j in range(1,10):
    print(("{} x {} = {}").format(i,j,i*j))

-------1단--------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
-------2단--------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-------3단--------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-------4단--------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-------5단--------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-------6단--------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-------7단--------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-------8단--------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-------9단--------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
a = int(input())
if a >= 10000:
  print("구매가능")
else:
  print("구매불가능")

25100
구매가능

In [13]:
j = int(input())
if j >= 10000:
  print("구매가능")
else:
  print("구매불가능")

1256597235643526
구매가능